html,
body {
  margin: 0;
  padding: 0;
}

.hidden {
  position: absolute;
  clip:rect(0 0 0 0);
}

body,
.button {
  /*типографика*/
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  /*оформление*/
  background: #000000 url("../img/index-bg.jpg");
}

.button {
  /**/
  display: inline-block;
  /*оформление*/
  background: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration:none;
  color:#ffffff;
}

.site-nav-item a,
.user-nav-item a {
  /*typography*/
  font: inherit;
  font-size: 16px;
  line-height: 20px;

}

.advantages-item h3,
.news-title,
.gallery-title,
.contacts-title,
.booking-title,
.modal-login-title {
  font-size: 30px;
  line-height: 42px;

}

.align-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 940px;
}

.collumns-wrapper {
  padding: 50px 8.5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;

  background: #fbf8f5 url('../img/sections-bg.png') repeat;
  color: black;
}

.modal {
  display: none;
}

.stretch-wrapper {
  width: 100%;
}

/* header */
header {
  margin-bottom: 75px;
}

header .align-wrapper {
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav {
  flex-direction: column;
}

header .stretch-wrapper {
  margin-bottom: 60px;

  background: #000000;
}

.header-nav-logo {
  order: 1;
  align-self: center;
}

.header-nav-logo img{
  width: 370px;
  height: 155px;
}

.site-nav {
  width: 540px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav-item {

}

.user-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-nav-item {

}

/* main */

/* advantages section */

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 32%;

  list-style: none;
}

.advantages-item h3 {

}

.advantages-item p {
  margin: 0;
  padding: 0;
}

/* news section */

.news {
  width: 49%;
}

.news-title {

}

.news-list {

}

.news-item {

}

.news-item-text {

}

.news-item-data {
  text-transform: none;
}

/* gallery section */

.gallery {
  width: 38%;
}

.gallery-title {

}

.gallery-image {

  width: 100%;
}

.gallery-nav {

}

.gallery-nav-item {

}

.gallery-nav-item-prev,
.gallery-nav-item-next {

}

/* contacts section */

.contacts {
  width: 42%;
}

.contacts-title {

}

.contacts-nav {

}

.contacts-nav-item {

}

.contacts-nav-map {

}

.contacts-nav-mail {

}

/* booking section */

.booking {
  width: 38%;
}

.booking-title {

}

.booking-text {

}

.booking-form {

}

/* footer */

footer {

}

footer .stretch-wrapper {
  margin-top: 30px;

  background: #252525;
}

footer .align-wrapper {
  padding: 60px 0 40px 0;
}

.footer-contacts {
  width: 34%;
  margin-right: 9%;
}

.footer-contacts-map {

}

.footer-social {
  width: 16%;
  margin-right: auto;
}

.footer-social-title {
  font-size: inherit;
}

.footer-social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social-item {

}

.footer-development {
  width: 19%;
}

.modal {

}

.modal-login {

}

.modal-login-form {

}

.modal-login-name {

}

.modal-login-password {

}

.modal-login-submit {

}

.modal-close {

}


