body {
    background: #000000 url("../img/index-bg.jpg");
}

.button {
  width: 140px;
}

.advantages-item h3,
.news-title,
.gallery-title,
.contacts-title,
.booking-title,
.office-title {
  font-size: 30px;
  line-height: 42px;

}

.collumns-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
  padding: 50px 8.5%;
  
  background-color: #fbf8f5;
  background-image: url('../img/bg-shadow.png'), url('../img/sections-bg.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  color: black;
}

/* header */
header {
  margin-bottom: 75px;
}

header .aligner-large {
  margin-bottom: 60px;
  background: #000000;
}

header .aligner-small {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav {
  flex-direction: column;
}

header .stretch-wrapper {
  margin-bottom: 60px;

  background: #000000;
}

.header-nav-logo {
  align-self: center;
}

.header-nav-logo img{
  width: 370px;
  height: 155px;
}

/* main */

/* advantages section */

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 32%;

  list-style: none;
}

.advantages-item h3 {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  text-align: center;
}

.advantages-item h3:before {
  position: absolute;
  left: calc(50% - 10px);
  top: 55px;

  width: 20px;
  height: 20px;

  background: #ffffff;
  content: '';

  transform: rotate(45deg);
}

.advantages-item p {
  margin: 0 10px;
  padding: 0;

  text-align: center;
}

/* news section */

.news {
  width: 49%;
}

.news-title {
  margin: 0;
  margin-bottom: 25px;
}

.news-list {
  margin-bottom: 25px;
}

.news-item {
  margin-bottom: 25px;
}

.news-item-text {
  margin: 0;
  margin-bottom: 5px;
}

.news-item-data {
  margin: 0;
  text-transform: none;
}

/* gallery section */

.gallery {
  width: 38%;
}

.gallery-title {
  margin: 0;
  margin-bottom: 25px;
}

.gallery-image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 45px;

  background: #ffffff;
  overflow: hidden;
}

.gallery-image img {
  width: 100%;
  height: 170px;
  margin: 5px 0;

  transition: all 0.5s;
}

.gallery-nav {
  display: flex;
  justify-content: space-between;
}

.gallery-nav-item {
  width: 47%;
}

/* contacts section */

.contacts {
  width: 42%;
}

.contacts-title {
  margin: 0;
  margin-bottom: 25px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 25px;
}

.contacts-nav {
}

.contacts-nav-item {
  display: inline-block;
  margin-right: 20px;
}

/* booking section */

.booking {
  width: 38%;
}

.booking-title {
  margin: 0;
  margin-bottom: 25px;
}

.booking-text {
  margin: 0;
  margin-bottom: 15px;
}

.booking-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking-form-item {
  width: 47%;
  margin-bottom: 10px;
}

.booking-form-item label {
  display: block;
  margin-bottom: 5px;
  margin-left: 15px;
}

.booking-form-item input {
  display: block;
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  
  font: inherit;

  outline: 2px solid black;
}

.booking-form .button {
  width: 100%;
  margin-top: 20px;
}

/* footer */

footer {
  width: 100%;
}

footer.aligner-large {
  margin-top: 30px;

  background: #252525;
}

footer .aligner-small {
  display: flex;
  padding: 60px 0 40px 0;
}
