.main-title {
  margin: 0;
  margin-bottom: 25px;
}

.photos {
  width: 49%;
}

.photos-main {
  width: 100%;
  margin-bottom: 20px;

  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.photos-list {
  display: flex;
  justify-content: space-between;
}

.photos-item {
  width: 30%;

  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.photos-item img {
  width: 100%;
  height: auto;

  vertical-align: bottom;
}

/*section description*/

.description {
  width: 41%;
  padding-top: 20px;
}

.description-availability {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.description-availability span:nth-of-type(2) {
  color: #aeaeae;
}

.description-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.description-price {
  display: flex;
  margin-bottom: 60px;
}

.description-price-number {
  display: block;
  padding: 10px 35px;

  background: #e5e5e5;
}

.description-price .button {
  padding-left: 20px;
  padding-right: 20px;
}

.description-composition-title {
  margin-bottom: 30px;
  font-size: 24px;
}

.description-composition-item {
  position: relative;

  margin-left: 20px;
}

.description-composition-item:before {
  position: absolute;
  top: 8px;
  left: -20px;

  display: block;
  width: 7px;
  height: 7px;

  background: #000000;
  content: "";

  transform: rotate(45deg);
}
